parameters:
	ignoreErrors:
		-
			message: '#^Offset 1 on array\{list\<string\>, list\<string\>\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 2
			path: includes/Schema/RecipeSchema.php

		-
			message: '#^Offset 1 on array\{non\-falsy\-string, string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 2
			path: includes/Schema/RecipeSchema.php

		-
			message: '#^Parameter \#1 \$author_id of function get_author_posts_url expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Schema/RecipeSchema.php

		-
			message: '#^Parameter \#2 \$user_id of function get_the_author_meta expects int\|false, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Schema/RecipeSchema.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 2
			path: includes/Schema/RecipeSchema.php

		-
			message: '#^Constant DVNL_FAMILY_RECIPE_BOOK_PLUGIN_URL not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/class-blocks.php

		-
			message: '#^Constant DVNL_FAMILY_RECIPE_BOOK_PLUGIN_URL not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/class-print.php

		-
			message: '#^Constant COOKIEPATH not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/class-rating.php

		-
			message: '#^Constant COOKIE_DOMAIN not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/class-rating.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-rating.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int\<1, 5\> given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-rating.php

		-
			message: '#^Parameter \#2 \$value of function setcookie expects string, int\<1, 5\> given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-rating.php

		-
			message: '#^Parameter \#2 \$user_id of function get_the_author_meta expects int\|false, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-schema.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-search.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: includes/class-search.php

		-
			message: '#^Constant DVNL_FAMILY_RECIPE_BOOK_PLUGIN_BASENAME not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/class-settings.php

		-
			message: '#^Constant DVNL_FAMILY_RECIPE_BOOK_PLUGIN_URL not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/class-sharing.php
